<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h3>Alguns erros ocorreram no processo:</h3>

      <ul>
      <% @post.errors.each do |field, msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nome:" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :title, "Título" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content, "Conteúdo" %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
