<!DOCTYPE html>
<html>
<head>
  <title>Blog4soft</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="topo">
		<h1>Blog 4soft</h1>
	</div>

	<div id="avisos">
		<% if flash[:notice] %>
			<p class="notice"><%= flash[:notice] %></p>
		<% end %>
	</div>

	<div id="conteudo">
		<%= yield %>
	</div>

	<div id="rodape">
		<p>Desenvolvido por Lucas Bibiano dos Santos</p>
	</div>

</body>
</html>
