<!DOCTYPE html>
<html>
<head>
  <title>Blog4soft</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>

		<div class="container">

			<div class="row">

				<div class="span9">
					<h1>Blog 4soft</h1>
				</div>

				<div class="span3">
				<% if user_signed_in? %>
		        	<p> 
		        		Logado como <%= current_user.name %>
		        		<%= link_to "Sair", destroy_user_session_path, :method => :delete %>
		        	</p>
		      	<% else %>
		      		<%= link_to "Registrar-se", new_user_registration_path %>
		        	<%= link_to "Entrar", new_user_session_path %>
		      	<% end %>
				</div>

			</div>
		</div>

	</header>


	<div class="container">

		<div class="row">

			<section class="span12 avisos">
				<% if flash[:notice] %>
					<p class="notice"><%= flash[:notice] %></p>
				<% end %>
			</section>

		</div>

		<div class="row">
			<section class="span12 conteudo">
				<%= yield %>
			</section>
		</div>

	</div>

	<footer>

			<div class="container">

				<div class="row">

					<div class="span12">
						<p>Desenvolvido por Lucas Bibiano dos Santos</p>
					</div>

				</div>

			</div>

	</footer>

</body>
</html>
